<extend name="Public/base"/>

<block name="content">

    <div class="wrap">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" onclick="NetYog.msgBoardDisabled()"><i class="fa fa-plus-circle"></i>
                        Add Board </a>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                               class="dropdown-toggle">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> {$user_info['uname']} </a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/admin.php/Login/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>

                </div>
            </div>

        </nav>
        <div class="container">
                <div class="row">

                    <foreach name="data" item = "vo">
                        <a href="__MODULE__/Board/index/bid/{$vo['id']}">
                            <div class="col-xs-3 board-block">
                               {$vo['name']}
                                <div>
                                    <i>
                                        {$vo['description']}
                                    </i>
                                </div>
                            </div>
                        </a>
                    </foreach>

                </div>
                <br/>
                <a data-toggle="modal" href="#mymodal" class=" btn btn-primary">添加</a>

                <div class="modal fade" id="mymodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">新增信息版</h4>
                            </div>
                            <form method="post" action="__MODULE__/Index/addBoard" id="Board">
                            <div class="modal-body">

                                    <div class="form-group field-board-name required">
                                        <label for="board-name">标题</label>
                                        <input type="text" placehoder="请输入标题" name="name" class="form-control" id="board-name">
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-board-description required has-error">
                                        <label for="board-description">内容</label>
                                        <input type="text" placehoder="请输入内容" name="description"
                                               class="form-control" id="board-description">
                                        <div class="help-block"></div>
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" onclick="this.disabled=true;this.form.submit()" name="submit-button" type="submit">保存</button>
                                <button class="btn btn-primary" name="submit-button" type="reset">重置</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</block>
<block name="js"></block>